<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Labrador</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div id="data-container">
    <div class="qrel-card">
        <h2 id="title">Loren Ipsum</h2>
        <p id="author"><small>Autor: Dolor Sit Amet</small></p>
        <p id="abstract">Resumo: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nunc ex, convallis sed finibus eget, sollicitudin eget ante. Phasellus eu lacus quis eros consectetur suscipit.</p>
        <p id="keywords">Palavras-chave: Lorem, Ipsum, Dolor, Sit, Amet</p>
        <div id="labels">
            <label><input type="radio" name="label-1" value="1"> 1</label>
            <label><input type="radio" name="label-1" value="2"> 2</label>
            <label><input type="radio" name="label-1" value="3"> 3</label>
            <label><input type="radio" name="label-1" value="4"> 4</label>
            <label><input type="radio" name="label-1" value="5"> 5</label>
        </div>
        <button onclick="submitLabel(1, 1)">Confirmar</button>
    </div>
</div>
<script src="/static/search.js"></script>
</body>
</html>
